<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399732639253-40j2hvpubfmdui11dumkkf4iem6d65ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399732639253-40j2hvpubfmdui11dumkkf4iem6d65ju</string>
	<key>API_KEY</key>
	<string>AIzaSyCdUW2Hk4ars78WFHNcOa4M1wIwoOqqSLI</string>
	<key>GCM_SENDER_ID</key>
	<string>399732639253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimain.green-github</string>
	<key>PROJECT_ID</key>
	<string>green-github</string>
	<key>STORAGE_BUCKET</key>
	<string>green-github.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399732639253:ios:7ec4a761c47f8b4b8bb01c</string>
</dict>
</plist>